<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QLSV - <%= page.title %></title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div id="main">
      <%- include("./partials/sidebar.ejs") %>

      <div class="interaction">
        <div class="main__form">
          <div class="main__form__head">
            <p class="main__form__head__text">Xóa sinh viên</p>
          </div>

          <div class="main__form__field">
            <label for="main__field__id" class="main__field__label">Mã học sinh: </label>
            <input id="main__field__id" type="text" class="main__input__field" placeholder="ID">
          </div>

          <button type="button" class="main__form__submit">Xóa</button>
        </div>
    </div>
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  a {
    text-decoration: none;
  }

  #main {
    display: flex;
  }

  .interaction {
    width: calc(100% - var(--sidebar-width));
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .main__form {
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
    padding: 10px;
  }

  .main__form__field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
  }

  .main__form__head {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px
  }

  .main__input__field {
    margin: 0 10px;
    padding: 5px;
  }

  .main__form__submit {
    padding: 10px;
    padding-inline: 15px;
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition:all ease-in-out 0.15s
  }

  .main__form__submit:hover {
    background-color: blue;
  }
</style>

<script>
  function submitted() {
    const submitBtn = document.querySelector(".main__form__submit");

    const inputFieldID = document.querySelector("#main__field__id");

    submitBtn.addEventListener("click", async() => {
      if(!inputFieldID) return alert("Lỗi khi render trang! Vui lòng tải lại trang.")
      const id = inputFieldID.value;
      if(!id) return alert("Vui lòng điền mã học sinh trước khi nhấn nút.");

      const domain = window.location.origin;
      fetch(`${domain}/api/remove`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          "id": `${id}`
        })
      }).then(async(res) => {
        let data;
        try {
          data = await res.json()
        } catch(err) {
          data = null;
        }
        if(!`${res.status}`.startsWith("2") || data?.error) return alert(`Có lỗi xảy ra khi xóa học sinh: ${data?.error || res.statusText}`)
        alert("Xóa thành công học sinh!")
      })
      .catch((err) => {
        console.log(err)
        alert(
            "Đã có lỗi xảy ra khi hiển thị danh sách! Vui lòng kiểm tra bảng lệnh."
          );
      })
    })
  }

  submitted();
</script>